{# The cards layout as used in post index #}

{# @param query EntryQuery #}

{# Execute paginated query #}
{% paginate query.limit(craft.app.config.custom.cardsPerPage) as pageInfo, entries %}

{% if entries %}

    {# Use embed for consistent grid layout #}
    {% embed '_layouts/partials/cards.twig' %}
        {% block content %}
            {% for entry in entries %}

                {# Use embed for consistent card layout #}

                {% include '_partials/entry-card.twig' with {
                	entry
                } only %}

            {% endfor %}
        {% endblock %}
    {% endembed %}


    {# Show pagination nav. #}
    {% include '_layouts/partials/pagination.twig' with {
        pageInfo
    } only %}

{% else %}
    <div>
        {{ 'Nothing found.'|t }}
    </div>
{% endif %}