{#
Create a table of contents from heading entries.
A 'entries' variable is passed in and filtered using an arrow function.
#}

{# @param entries [Entry] #}

{# Lookup table #}
{% set classes = {
    h2: 'font-semibold',
    h3: 'ps-8'
} %}

<nav class="bg-white p-4 border border-gray-300 shadow-md not-prose rounded">
    <div class="font-semibold text-xl">
        {{ 'Table of Contents'|t }}
    </div>
    <ul class="mt-4 text-base space-y-1">
        {% for headingEntry in entries|filter(b => b.type.handle == 'heading') %}
            <li>
                <a class="{{ classes[headingEntry.headingLevel.value] }} hover:underline"
                   href="#{{ headingEntry.text|id }}">
                    {{ headingEntry.text }}
                </a>
            </li>
        {% endfor %}
    </ul>
</nav>