{# Two columns block #}

{# @param entry Entry #}

{# Make sure md:col-span-(1-12) classes are safelisted in tailwind.config.js #}

{% set leftCols = entry.columnSpan.value ?? 6 %}
{% set rightCols = 12 - leftCols %}

{% set blockWidth = entry.blockWidth.value ?? 'default' %}

{% set blockStyle = {
    default: '',
    wide: 'lg:-mx-24',
    wider: 'lg:-mx-48',
    full: 'alignfull'
} %}

{% set leftCol = entry.columnWrapperLeft.eagerly().one %}
{% set rightCol = entry.columnWrapperRight.eagerly().one %}

<div class="grid grid-cols-1 md:grid-cols-12 gap-8 {{ blockStyle[blockWidth] }}">
    <div class="col-span-1 md:col-span-{{ leftCols }}">
        {% include '_partials/blocks.twig' with {
            query: leftCol.columnContent
        } only %}
    </div>
    <div class="col-span-1 md:col-span-{{ rightCols }}">
        {% include '_partials/blocks.twig' with {
            query: rightCol.columnContent
        } only %}
    </div>
</div>

{% css %}
@media (min-width: 768px) {
    .alignfull {
        margin-left  : calc( -100vw / 2 + 100% / 2 );
        margin-right : calc( -100vw / 2 + 100% / 2 );
        max-width    : 100vw;
        padding-left: 24px;
        padding-right: 24px;
    }
}
{% endcss %}