assets:
  tempSubpath: temporary-uploads
  tempVolumeUid: efd6d899-7b71-4318-8402-669e92416168 # System Files
dateModified: 1711135508
elementSources:
  craft\elements\Asset:
    -
      heading: Volumes
      type: heading
    -
      defaultSort:
        - dateCreated
        - desc
      disabled: false
      key: 'volume:c9a4fbad-6ca0-4e20-ba72-da2c14a38190' # Images
      tableAttributes:
        - imageSize
        - 'field:a73e7c96-e9d2-4751-bf01-8a6baf5f3c46'
        - 'field:560e7c36-f763-440f-b9b5-1d87228bc6df' # Untranslatable Short Text
        - dateModified
        - link
      type: native
    -
      defaultSort:
        - dateCreated
        - desc
      disabled: false
      key: 'volume:efd6d899-7b71-4318-8402-669e92416168' # System Files
      tableAttributes:
        - filename
        - kind
        - imageSize
        - size
        - dateModified
      type: native
    -
      heading: Work
      type: heading
    -
      condition:
        class: craft\elements\conditions\assets\AssetCondition
        conditionRules:
          -
            class: craft\fields\conditions\TextFieldConditionRule
            fieldUid: a73e7c96-e9d2-4751-bf01-8a6baf5f3c46
            operator: empty
            uid: 3c30e8ff-c879-49ed-a325-235c9a221596
            value: ''
          -
            class: craft\elements\conditions\assets\VolumeConditionRule
            operator: in
            uid: f80300e6-e686-4b27-afb3-d9827b4a3732
            values:
              - c9a4fbad-6ca0-4e20-ba72-da2c14a38190 # Images
        elementType: craft\elements\Asset
        fieldContext: global
      defaultSort:
        - title
        - asc
      key: 'custom:b27f0d6e-cf07-4a3e-b45e-7f9fe4494f87'
      label: 'Missing alt text'
      tableAttributes:
        - imageSize
        - location
      type: custom
    -
      condition:
        class: craft\elements\conditions\assets\AssetCondition
        conditionRules:
          -
            class: craft\fields\conditions\TextFieldConditionRule
            fieldUid: 560e7c36-f763-440f-b9b5-1d87228bc6df # Untranslatable Short Text
            operator: empty
            uid: 4ba2301e-60c6-4520-8136-f56e1896da40
            value: ''
        elementType: craft\elements\Asset
        fieldContext: global
      defaultSort:
        - title
        - asc
      key: 'custom:f0e81598-0477-447a-b0cd-7adb621ad4c3'
      label: 'Missing copyright'
      tableAttributes:
        - 'field:a73e7c96-e9d2-4751-bf01-8a6baf5f3c46'
        - imageSize
        - location
      type: custom
    -
      heading: 'Search & Filter'
      type: heading
    -
      condition:
        class: craft\elements\conditions\assets\AssetCondition
        conditionRules:
          -
            class: craft\elements\conditions\assets\VolumeConditionRule
            operator: in
            uid: ae1f36c8-c42f-4b7c-ba2a-f2b4806961dc
            values:
              - c9a4fbad-6ca0-4e20-ba72-da2c14a38190 # Images
        elementType: craft\elements\Asset
        fieldContext: global
      defaultSort:
        - title
        - asc
      key: 'custom:8fd11ae7-3d29-498d-bf12-1a69de711299'
      label: 'All images'
      tableAttributes:
        - imageSize
        - location
      type: custom
  craft\elements\Entry:
    -
      defaultSort:
        - postDate
        - desc
      disabled: false
      key: '*'
      tableAttributes:
        - section
        - postDate
        - expiryDate
        - link
      type: native
    -
      heading: Site
      type: heading
    -
      defaultSort:
        - title
        - asc
      disabled: false
      key: singles
      tableAttributes:
        - section
        - 'field:1d65442c-c0b9-46f4-8518-9a6c53e21bc1' # Featured Image
        - link
      type: native
    -
      heading: Content
      type: heading
    -
      defaultSort:
        - postDate
        - desc
      disabled: false
      key: 'section:5f021491-7c29-4320-be70-454d594268af' # Page
      tableAttributes:
        - type
        - drafts
        - postDate
        - link
      type: native
    -
      defaultSort:
        - postDate
        - desc
      disabled: false
      key: 'section:585f70b2-f84a-47ff-ad71-3faff9698ba9' # Post
      tableAttributes:
        - 'field:2ac14555-67e9-455b-9337-b07a50478276' # Topics
        - drafts
        - postDate
        - link
      type: native
    -
      heading: Categories
      type: heading
    -
      defaultSort:
        - postDate
        - desc
      disabled: false
      key: 'section:4e30878f-1e26-4e1b-9ced-b3cd32686df9' # Topic
      tableAttributes:
        - 'field:1d65442c-c0b9-46f4-8518-9a6c53e21bc1' # Featured Image
        - postDate
        - link
      type: native
email:
  fromEmail: admin@example.com
  fromName: 'Craft 4 Blank'
  replyToEmail: null
  template: null
  transportSettings:
    host: $MAILPIT_SMTP_HOSTNAME
    password: ''
    port: $MAILPIT_SMTP_PORT
    useAuthentication: '0'
    username: ''
  transportType: craft\mail\transportadapters\Smtp
fs:
  imagesFs:
    hasUrls: true
    name: 'Images FS'
    settings:
      path: '@webroot/images'
    type: craft\fs\Local
    url: '@web/images'
  internalFs:
    hasUrls: true
    name: 'Internal FS'
    settings:
      path: '@webroot/files'
    type: craft\fs\Local
    url: '@web/files'
meta:
  __names__:
    0e989e8d-658a-4a1e-acf5-edb2387959ab: 'Post Index' # Post Index
    1d65442c-c0b9-46f4-8518-9a6c53e21bc1: 'Featured Image' # Featured Image
    1eac01fa-9e12-426e-a043-60ae35acf391: Cite # Cite
    2ac14555-67e9-455b-9337-b07a50478276: Topics # Topics
    2be01897-dbaf-4c19-a6d9-db80ada8fc8f: 'Public Schema' # Public Schema
    4b9eed77-fa62-4ecc-9486-744a64f075d4: Caption # Caption
    4e30878f-1e26-4e1b-9ced-b3cd32686df9: Topic # Topic
    5c400efe-2716-4221-a54a-4ebaf6a3c6cb: 'Heading Level' # Heading Level
    5f021491-7c29-4320-be70-454d594268af: Page # Page
    8ed4044d-89b6-4d6b-a8a3-e303f533263a: Style # Style
    18e8e721-36cd-4c7a-a02a-44c513fb3cb8: Default # Default
    19a49103-3b3e-48c0-955b-996599d8c651: 'Default Page' # Default Page
    19d8011f-2129-4d06-b597-49d7125063c7: Quote # Quote
    21e8b35e-5b6d-4f11-bc0e-26fcaa107ce8: Home # Home
    63e734ee-d709-488a-bd8d-3a90ab070825: Text # Text
    78ba6fca-0979-4552-a36e-f6f7a001b0f5: Text # Text
    78f9590c-8302-4bbc-8e62-39e3f6a2bd57: Text # Text
    86b9888e-ef59-4f68-8ece-9b7badf30277: 'Multiline Text' # Multiline Text
    95f98672-9562-44a0-8639-92d2b55ceeb6: 'Body Content' # Body Content
    560e7c36-f763-440f-b9b5-1d87228bc6df: 'Untranslatable Short Text' # Untranslatable Short Text
    585f70b2-f84a-47ff-ad71-3faff9698ba9: Post # Post
    817d3d1a-d840-41a0-85a2-898d07aef769: Post # Post
    2393c71c-94e8-4e90-bb19-949696b8be0b: English # English
    05069f41-81bc-4395-b1dd-a4ba9ce0d878: Search # Search
    7035f447-3559-4542-9f1d-2b71bbc7a15a: 'Topic Index' # Topic Index
    8937bb02-c9d0-460b-81ef-1f1bda00e1f7: 'Site Info - Global Settings' # Site Info - Global Settings
    9128a883-c73e-4009-b8d5-7971ce954682: Special # Special
    10877b5b-ab25-4e80-b0c0-74947be617eb: 'Block Type' # Block Type
    a4a0dfdc-289d-4d50-baae-6a3215a85701: Text # Text
    a7f4b9fd-a554-4545-af32-3b57544c9432: 'Site Info - Global Settings' # Site Info - Global Settings
    a33610ee-ece8-47a1-949e-94477da5fd4d: Image # Image
    a3605555-7165-4ea9-a338-870db2eba7ca: Heading # Heading
    ab2052c5-b53a-4cbd-b95d-96ea7489c375: Home # Home
    abb455ba-032b-461d-9c8d-dca9ed3fc7bd: Image # Image
    b7acd2cf-9449-4637-a40c-2e266a19cc19: Deutsch # Deutsch
    c9a4fbad-6ca0-4e20-ba72-da2c14a38190: Images # Images
    eb230d0c-f88a-40de-a743-994de14eb8f8: Style # Style
    efd6d899-7b71-4318-8402-669e92416168: 'System Files' # System Files
    f37b0bab-9cb9-4695-b431-f05d5e3bd8da: 'Single Line Text' # Single Line Text
    fcf21393-86a6-4f40-8a9a-3c829a2316a1: Topic # Topic
plugins:
  cp-css:
    edition: standard
    enabled: true
    schemaVersion: 2.0.0
    settings:
      additionalCss: "/* Increase font size */\r\n\r\nhtml, body {\r\n    font-size: 15px;\r\n}\r\n\r\n.titlebar {\r\n    --gray-050: var(--gray-100);\r\n    --red-050: var(--red-100);\r\n    --orange-050: var(--orange-100);\r\n    --amber-050: var(--amber-100);\r\n    --yellow-050: var(--yellow-100);\r\n    --lime-050: var(--lime-100);\r\n    --green-050: var(--green-100);\r\n    --emerald-050: var(--emerald-100);\r\n    --teal-050: var(--teal-100);\r\n    --cyan-050: var(--cyan-100);\r\n    --sky-050: var(--sky-100);\r\n    --blue-050: var(--blue-100);\r\n    --indigo-050: var(--indigo-100);\r\n    --violet-050: var(--violet-100);\r\n    --purple-050: var(--purple-100);\r\n    --fuchsia-050: var(--fuchsia-100);\r\n    --pink-050: var(--pink-100);\r\n    --rose-050: var(--rose-100);\r\n\r\n}\r\n\r\n/*.fields .element-index .toolbar > div, .fields .element-index .footer  {\r\n    display: none;\r\n}*/\r\n\r\n/* Set link color back to V3, increase contrast\r\n:root {\r\n    --text-color: var(--gray-800);\r\n    --medium-dark-text-color: var(--gray-700);\r\n    --link-color: #0c4a6e;\r\n    --red-050: #fecaca;\r\n    --max-width: 1700px;\r\n}\r\n*/\r\n\r\n\r\ninput.text, textarea.text, .text > input, .text > textarea, table.editable textarea, .selectize-text > .selectize-control > .selectize-input {\r\n    font-size: 16px;\r\n}\r\n\r\n#crumbs {\r\n    font-size: 15px;\r\n    font-weight: 500;\r\n}\r\n\r\n.crumb {\r\n    padding-top: 4px;\r\n}\r\n\r\n.context-label, .context-menu-container {\r\n    font-size: 15px;\r\n    font-weight: 500;\r\n    margin-top: 4px;\r\n    background-color: #E4EDF6;\r\n}\r\n\r\nh2 {\r\n    font-size: 18px;\r\n}\r\n\r\n#content-container h2 {\r\n    border-color: var(--gray-400);\r\n    font-size: 20px;\r\n\r\n}\r\n\r\n#content-container .error-summary h2 {\r\n    font-size: 16px;\r\n}\r\n\r\n.readable blockquote.note.tip {\r\n    color: var(--blue-800);\r\n    border-color: var(--blue-800);\r\n}\r\n\r\n.readable blockquote.note.tip:before {\r\n    color: var(--blue-800);\r\n}\r\n\r\n/* TODO: without this, there is a vertical shift in 4.5\r\n#global-header {\r\n    min-height: 50px;\r\n}\r\n*/\r\n\r\n/*#global-sidebar {\r\n    background-color: var(--gray-100) !important;\r\n}*/\r\n\r\n/*\r\n#global-sidebar .nav-item:hover, #sidebar-trigger:hover {\r\n    color: black;\r\n}\r\n*/\r\n\r\n\r\n/* 4.2 toasts */\r\n#notifications [data-type=\"error\"] {\r\n    background-color: #D61F2B;\r\n    color: white;\r\n}\r\n\r\n#notifications [data-type=\"success\"] {\r\n    background-color: #16a34a;\r\n    color: white;\r\n}\r\n\r\n#notifications [data-type=\"notice\"] {\r\n    background-color: #2C5F2D;\r\n    color: white;\r\n}\r\n\r\n#notifications .notification .notification-icon {\r\n    color: white;\r\n}\r\n\r\nbody.ltr #notifications {\r\n    bottom: initial;\r\n    top: 8px;\r\n    left: 50%;\r\n    transform: translateX(-50%);\r\n}\r\n\r\n#notifications .notification-details {\r\n    background-color: white;\r\n    padding: 4px;\r\n}\r\n\r\n#notifications [data-type=\"success\"] .notification-details {\r\n    background-color: #f0fdf4;\r\n    padding: 4px;\r\n}\r\n\r\n/* .content-pane, .matrixblock {\r\n    background-color: #fbfbff;\r\n}*/\r\n\r\n.icons a[href*=\"/admin/settings/globals\"],\r\n.icons a[href*=\"/admin/settings/categories\"],\r\n.icons a[href*=\"/admin/settings/tags\"] {\r\n    display: none;\r\n}"
      cacheBusting: true
      cssFile: ''
system:
  edition: solo
  live: true
  name: $SYSTEM_NAME
  retryDuration: null
  schemaVersion: 5.0.0.20
  timeZone: Europe/Berlin
